:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
    --icon-color: rgb(30, 30, 30);
    --border-bottom: rgb(108, 108, 108);
    --accent: rgb(30, 30, 30);
    --accent-dk: rgb(30, 30, 30);
    --accent-border: rgb(30, 30, 30);
    --post-entry-bg: rgb(245, 245, 245);
    --post-entry-border: rgb(245, 245, 245);
    --toc-border: rgb(238, 238, 238);
    --copy-code: rgb(78, 78, 78);
    --ft-paginav-bg: rgb(245, 245, 245);
    --ft-paginav-border: rgb(238, 238, 238);
    --archive-entry-title: rgb(0, 108, 172);
    --friend-link-border: rgb(255, 16, 47);
    color-scheme: light;
}

:root[data-theme="dark"] {
    --theme: rgb(33, 39, 55);
    --entry: rgb(33, 39, 55);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(234, 237, 243);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
    --icon-color: rgb(246, 105, 3);
    --border-bottom: rgb(246, 105, 3);
    --accent: rgb(246, 105, 3);
    --accent-dk: rgb(171, 75, 8);
    --accent-border: rgb(171, 75, 8);
    --post-entry-bg: rgb(33, 39, 55);
    --post-entry-border: rgb(33, 39, 55);
    --toc-border: rgbrgb(33, 39, 55);
    --copy-code: rgb(52, 63, 96);
    --ft-paginav-bg: rgb(33, 39, 55);
    --ft-paginav-border: rgb(33, 39, 55);
    --archive-entry-title: rgb(246, 105, 3);
    --friend-link-border: rgb(255, 16, 47);
    color-scheme: dark;
}

.list {
    background: var(--code-bg);
}

[data-theme="dark"] .list {
    background: var(--theme);
}