{{- $commentsConfig := .Site.Params.comments -}}
{{- $commentSystem := $commentsConfig.system -}}

commentsConfig: {{ $commentsConfig }} <br />
<hr>
commentSystem: {{ $commentSystem }}
<hr>
commentsConfig.enabled: {{ $commentsConfig.enabled }}

<div class="comments-container">
    {{- if $commentsConfig.enabled -}}
    {{- if eq $commentSystem "giscus" -}}
    {{ partial "features/comments/giscus.html" (dict "Site" $.Site "Page" $ "id" "giscus-comments") }}
    {{- end -}}
    {{- end -}}
</div>