{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}
            {{/* RSS icon */}}
            <a href="/index.xml" title="RSS" aria-label="RSS" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="var(--icon-color)"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" height="23">
                    <path d="M4 11a9 9 0 0 1 9 9" />
                    <path d="M4 4a16 16 0 0 1 16 16" />
                    <circle cx="5" cy="19" r="1" />
                </svg>
            </a>
        </h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>

<hr style="border:none; height: 1px; background-color: var(--accent); margin-bottom: calc(var(--gap) * 2);">

{{- end -}}