.header {
    /* 可根据需要设置相对定位 */
    position: relative;

    /* 设置最大宽度与.main一致 */
    max-width: calc(var(--main-width) + var(--gap) * 2);

    /* 水平居中 */
    margin: auto;

    /* 添加与.main相同的上下左右内边距 */
    padding: var(--gap);

}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    border-bottom: 1px solid var(--border-bottom);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    /* margin: auto var(--gap); */
    margin: auto 0;
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img,
.logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

[data-theme="dark"] #moon {
    display: none;
}

[data-theme="light"] #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li+li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 500;
    /* border-bottom: 2px solid currentColor; */
    text-underline-offset: 5px;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
}

#menu a svg {
    vertical-align: middle;
}

#menu .active svg {
    stroke: var(--accent);
}

#menu a:hover svg {
    stroke: var(--accent);
}

#menu a svg .lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}